name: Deploy Images to GHCR
on:
  push:
    branches:
      - main
jobs:
  push-to-ghcr:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: 'Build & Push Image'
        run: |
          docker build . --tag ghcr.io/solanki/github-action-hello:latest
          docker push ghcr.io/solankiarpan/github-action-hello:latest
